$accent-header = red
$accent-body = #FFBFBF
$base-header = cyan
$base-body = #A8E3E3 

$background-grey = #eee
$accent-grey = #666
$content-body-grey = #ddd
$content-accent-grey = #ccc
$content-highlight-grey = #999

$footer-body = #444