doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1.0, user-scalable=yes", name="viewport")
        meta(http-equiv="X-UA-Compatible", content="IE=9;IE=8")
        meta(name="format-detection" content="telephone=no")
        title <%= projectName %>
        link(rel="stylesheet" href="/common/css/all.css")
    body
        .page-wrap

            block main

        script(src="/common/js/libs/jquery.min.js")
        script(src="/common/js/main.js")