$left-nav-width: 16em;

.left-nav {
    float: left;
    margin-right: $left-nav-width * -1;
    width: $left-nav-width;
}
    
.main-content {
    box-sizing: border-box;
    float: right;
    padding-left: $left-nav-width + $gutter-width;
    width: 100%;
}   